<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>207104439906-t5t9p20f6ci0j9p1j201a29utse4obh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207104439906-t5t9p20f6ci0j9p1j201a29utse4obh7</string>
	<key>API_KEY</key>
	<string>AIzaSyCW6PWJ7Xjd2e3guisD_e8UrrjVbeFZA1s</string>
	<key>GCM_SENDER_ID</key>
	<string>207104439906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TestCorps.breakPoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-4c0b4</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-4c0b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207104439906:ios:56fad6101c1160b3</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-4c0b4.firebaseio.com</string>
</dict>
</plist>